{{- if eq .chezmoi.os "windows" -}}
REM mingw (gcc on windows) is required for https://github.com/nvim-treesitter/nvim-treesitter
choco install --yes microsoft-windows-terminal neovim mingw
if not exist "%userprofile%\AppData\Local\nvim" (
    mklink /D "%userprofile%\AppData\Local\nvim" "%homepath%\.config\nvim"
)
{{- end }}
