{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

brew install neovim ripgrep fd fzf lnav go bat

{{- end }}
{{- if eq .chezmoi.os "linux" -}}
#!/bin/zsh

curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz
sudo rm -rf /opt/nvim
sudo tar -C /opt -xzf nvim-linux64.tar.gz

sudo apt update
sudo apt install snapd fd-find ripgrep fzf lnav golang-go bat -y

{{- end }}
