{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

brew install neovim ripgrep fd fzf lnav go bat

{{- end }}
{{- if eq .chezmoi.os "linux" -}}
#!/bin/zsh

curl -LO https://github.com/neovim/neovim/releases/latest/download/nvim-linux64.tar.gz
sudo rm -rf /opt/nvim
sudo tar -C /opt -xzf nvim-linux64.tar.gz

sudo apt update
sudo apt install snapd fd-find ripgrep fzf lnav golang-go bat -y

# Bat link batcat -> batcat
# See https://github.com/sharkdp/bat?tab=readme-ov-file#on-ubuntu-using-apt
mkdir -p ~/.local/bin
ln -s /usr/bin/batcat ~/.local/bin/bat

{{- end }}
