{{- if (eq .chezmoi.os "linux") -}}
#!/bin/sh

echo "Setting zsh as default shell..."

# Check for zsh and install if we don't have it
if test ! $(which zsh); then
  /bin/bash -c "$(sudo apt install zsh)"
fi

# Check if zsh is default shell and set it default if not
if test $(which $SHELL) != $(which zsh); then
  /bin/bash -c "$(chsh -s $(which zsh))"
fi

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Install Powerlevel10k (zsh theme)
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/Powerlevel10k

ZSHRC=$HOME/.zshrc
ZSHENV=$HOME/.zshenv
ZSHRC_LINE="source ~/.caleb/.zshrc"
ZSHENV_LINE="source ~/.caleb/.zshenv"

grep -qxF "$ZSHRC_LINE" "$ZSHRC" || echo "$ZSHRC_LINE" >> "$ZSHRC"
grep -qxF "$ZSHENV_LINE" "$ZSHENV" || echo "$ZSHENV_LINE" >> "$ZSHENV"
{{- end }}
{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Install Powerlevel10k (zsh theme)
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/Powerlevel10k

ZSHRC=$HOME/.zshrc
ZSHENV=$HOME/.zshenv
ZSHRC_LINE="source ~/.caleb/.zshrc"
ZSHENV_LINE="source ~/.caleb/.zshenv"

grep -qxF "$ZSHRC_LINE" "$ZSHRC" || echo "$ZSHRC_LINE" >> "$ZSHRC"
grep -qxF "$ZSHENV_LINE" "$ZSHENV" || echo "$ZSHENV_LINE" >> "$ZSHENV"
{{- end }}
