{{- if (eq .chezmoi.os "linux") -}}
#!/bin/sh

echo "Setting zsh as default shell..."

# Check for zsh and install if we don't have it
if test ! $(which zsh); then
  #/bin/bash -c "$(sudo apt install zsh)"
  sudo apt install zsh -y
fi

# Check if zsh is default shell and set it default if not
if test $(which $SHELL) != $(which zsh); then
  #/bin/bash -c "$(chsh -s $(which zsh))"
  chsh -s $(which zsh)
fi

# Install oh-my-zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

# Install Powerlevel10k (zsh theme)
if [ ! -d "${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/Powerlevel10k" ]; then
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/Powerlevel10k
fi

if [ ! -d ~/.tmux/plugins/tpm ]; then
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# Define the file to modify
FILE="$HOME/.zshrc"

# Define the old and new theme settings
OLD_THEME='ZSH_THEME="robbyrussell"'
NEW_THEME='ZSH_THEME="Powerlevel10k/powerlevel10k"'

# Check if the old theme setting exists in the file
if grep -q "$OLD_THEME" "$FILE"; then
    # Perform the substitution
    sed -i "s|$OLD_THEME|$NEW_THEME|" "$FILE"
    echo "Theme changed to Powerlevel10k/powerlevel10k."
else
    echo "The original theme setting was not found. No changes made."
fi

ZSHRC=$HOME/.zshrc
ZSHENV=$HOME/.zshenv
ZPROFILE=$HOME/.zprofile
ZSHRC_LINE="source ~/.caleb/.zshrc"
ZSHENV_LINE="source ~/.caleb/.zshenv"
ZPROFILE_LINE="source ~/.caleb/.zprofile"

grep -qxF "$ZSHRC_LINE" "$ZSHRC" || echo "$ZSHRC_LINE" >> "$ZSHRC"
grep -qxF "$ZSHENV_LINE" "$ZSHENV" || echo "$ZSHENV_LINE" >> "$ZSHENV"
grep -qxF "$ZPROFILE_LINE" "$ZPROFILE" || echo "$ZPROFILE_LINE" >> "$ZPROFILE"
{{- end }}
{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/sh

# Install oh-my-zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

# Install Powerlevel10k (zsh theme)
if [ ! -d "${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/Powerlevel10k" ]; then
git clone --depth=1 https://github.com/romkatv/powerlevel10k.git ${ZSH_CUSTOM:-$HOME/.oh-my-zsh/custom}/themes/Powerlevel10k
fi

if [ ! -d ~/.tmux/plugins/tpm ]; then
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
fi

# Define the file to modify
FILE="$HOME/.zshrc"

# Define the old and new theme settings
OLD_THEME='ZSH_THEME="robbyrussell"'
NEW_THEME='ZSH_THEME="Powerlevel10k/powerlevel10k"'

# Check if the old theme setting exists in the file
if grep -q "$OLD_THEME" "$FILE"; then
    # Perform the substitution
    sed -i "s|$OLD_THEME|$NEW_THEME|" "$FILE"
    echo "Theme changed to Powerlevel10k/powerlevel10k."
else
    echo "The original theme setting was not found. No changes made."
fi

ZSHRC=$HOME/.zshrc
ZSHENV=$HOME/.zshenv
ZPROFILE=$HOME/.zprofile
ZSHRC_LINE="source ~/.caleb/.zshrc"
ZSHENV_LINE="source ~/.caleb/.zshenv"
ZPROFILE_LINE="source ~/.caleb/.zprofile"

grep -qxF "$ZSHRC_LINE" "$ZSHRC" || echo "$ZSHRC_LINE" >> "$ZSHRC"
grep -qxF "$ZSHENV_LINE" "$ZSHENV" || echo "$ZSHENV_LINE" >> "$ZSHENV"
grep -qxF "$ZPROFILE_LINE" "$ZPROFILE" || echo "$ZPROFILE_LINE" >> "$ZPROFILE"
{{- end }}
