#!/bin/zsh

# Some workloads are modifying my .gitconfig, so instead I leave it unmanaged and set the individual config vars I want
git config --global core.editor "nvim"
git config --global core.pager "less -+$LESS -RS"

