# Will be automatically sourced by .zshenv

{{ if eq .chezmoi.os "linux" }}
# For linux, make sure nvim is on the path
export PATH="$PATH:/opt/nvim-linux64/bin"
{{ end }}

export PATH="$PATH:$HOME/.local/bin"

# Add Rust Cargo to the path
export PATH="$PATH:$HOME/.cargo/bin"

