# Will be automatically sourced by .zshrc

export FZF_DEFAULT_OPTS='--preview="bat {}" --color="bg:234,bg+:130,pointer:255,hl+:white:bold,hl:130:bold"'

eval "$(zoxide init zsh)"

eval "$(starship init zsh)"

# Make nvim ":Man" the default man page because colors are pretty
if [ -n "${NVIM_LISTEN_ADDRESS+x}" ]; then
  # Prevent nesting nvim if inside ":terminal"
  export MANPAGER="/usr/local/bin/nvr -c 'Man!' -o -"
else
  export MANPAGER="nvim \+Man\!"
fi

# Make "home" and "end" keys consistent across platforms
bindkey '\e[1~' beginning-of-line
bindkey '\e[4~' end-of-line

