# Will be automatically sourced by .zshrc

export FZF_DEFAULT_OPTS='--preview="bat {}" --color="bg:234,bg+:130,pointer:255,hl+:white:bold,hl:130:bold"'

eval "$(zoxide init zsh)"

eval "$(starship init zsh)"

# Make nvim ":Man" the default man page because colors are pretty
if [ -n "${NVIM_LISTEN_ADDRESS+x}" ]; then
  # Prevent nesting nvim if inside ":terminal"
  export MANPAGER="/usr/local/bin/nvr -c 'Man!' -o -"
else
  export MANPAGER="nvim \+Man\!"
fi

# Make "home" and "end" keys consistent across platforms
bindkey '\e[1~' beginning-of-line
bindkey '\e[4~' end-of-line

# Bind C-x C-e to edit the current command line in $EDITOR
autoload edit-command-line
zle -N edit-command-line
bindkey '^X^E' edit-command-line

# Theme
export LSCOLORS="ExGxxxxxCx"

# Add shortcut for invoking current AI CLI of choice
bindkey -s '^G' 'gemini\n'

# Launch OpenCode in current pane with Ctrl+O
bindkey -s '^O' 'opencode .\n'

# This replaces the default zsh history search with a clean fzf powered search pane
bindkey '^R' fzf-history-widget
fzf-history-widget() {
    BUFFER=$(fc -rl 1 | awk '{$1=""; print substr($0,2)}' | FZF_DEFAULT_OPTS="$fzfCommonOpts --height 40% --layout=reverse --border" fzf --tiebreak=index | sed 's/^[[:space:]]*[[:digit:]]\+[[:space:]]*//')
    CURSOR=$#BUFFER
    zle redisplay
}
zle -N fzf-history-widget
