# Will be automatically sourced by .zshenv

{{ if eq .chezmoi.os "darwin" }}
# For macOS, make sure nvim is on the path
export PATH="$PATH:/opt/nvim-macos-arm64/bin"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
# For linux, make sure nvim is on the path
export PATH="$PATH:/opt/nvim-linux-x86_64/bin"
{{ end }}

export PATH="$PATH:$HOME/.local/bin"

# Add Rust Cargo to the path
export PATH="$PATH:$HOME/.cargo/bin"

source $(dirname $0)/aliases

# ZSH completion styling and configuration
zmodload -i zsh/complist
zstyle ':completion:*' menu select # highlight selected option
bindkey '^[[Z' reverse-menu-complete # enable shift-tab to reverse through completions

# Enable colored ls
export CLICOLOR=1
