#!/bin/zsh

# Some workloads are modifying my .gitconfig, so instead I leave it unmanaged and set the individual config vars I want
git config --global core.editor "nvim"
git config --global core.pager "delta"
git config --global interactive.diffFilter "delta --color-only"
git config --global delta.navigate true
git config --global merge.conflictstyle "diff3"
git config --global diff.colorMoved "default"

git config --global delta.features "side-by-side line-numbers decorations"
git config --global delta.navigate true
git config --global delta.syntax-theme "Visual Studio Dark+"
git config --global delta.decorations.commit-decoration-style "green bold ol"
git config --global delta.decorations.file-style "bold white box ul"
git config --global delta.decorations.file-decoration-style blue
git config --global delta.decorations.hunk-header-decoration-style "#636369 box"
git config --global delta.decorations.hunk-header-file-style "white bold"
git config --global delta.decorations.hunk-header-style "syntax"
