{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash
echo "Downloading Neovim plugins..."
/opt/nvim-macos-arm64/bin/nvim --headless "+packspec download" +qa
{{- end }}

{{- if eq .chezmoi.os "linux" -}}
#!/bin/bash
echo "Downloading Neovim plugins..."
/opt/nvim-linux-x86_64/bin/nvim --headless "+packspec download" +qa
{{- end }}
